{% extends "layout/base.html" %}

{% block title %}
Delete Course
{% endblock title %}

{% block content %}

{% include "include/navbar.html" %}
<div class="pt-5"></div>
<div class="col-md-5 mx-auto mt-3 text-black pt-5 rounded-4 bg-primary py-5">
    <h1 class="text-center text-white">Delete Course</h1>
    <div class="input-group justify-content-center text-white">
        <p>Are you sure you want to delete this course? This action cannot be undone.</p>
        <form action="/course/destroy/{{ course.course_id }}" method="post">
         {% csrf_token %}
            <button type="submit" class="btn btn-danger float-end">Yes</button>
            <a href="/courses" class="btn btn-secondary float-end">No</a>
        </form>
    </div>
</div>

{% endblock content %}