{% extends "layout/base.html" %}

{% block title %} 
Create Section 
{% endblock title %}

{% block content %}
{% include "include/navbar.html" %}
<div class="col-md-4 mx-auto mt-3 text-black">
    <form action="/section/store" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="section">Section</label>
            <input type="text" class="form-control" id="section" name="section" />
        </div>
        <button type="submit" class="btn btn-success float-end col-12 col-md-3">Save Section</button>
        <a href="/sections" class="btn btn-secondary float-end col-12 col-md-3 me-1"> Back</a>
    </form>
</div>

{% endblock content %}